body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}
 
select {
    padding: 8px;
    font-size: 14px;
    border: 2px #ddd solid;
    height: 44px;
}
 
input {
    padding: 8px;
    font-size: 14px;
    border: 2px #ddd solid;
    height: 44px;
}

option{
    font-size: 14px;
}

.placeholder{
    display: none;
}

.custom-dropdown {
  position: relative;
  display: inline-block; 
  width: 100%; 
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding-right: 30px; 
}

.custom-dropdown .dropdown-symbol {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  pointer-events: none;
}

button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 4px;
    width: 120px;
    margin-top: 30px;
}
  
.but1{
width: 40px;
height: 30px;
border: 1px black solid;
border-radius: 5px;
padding: 0px;
margin-top: 0px;
}

.heading {
  font-weight: 600;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.reset-button{
    background-color: white;
    border: 1px solid;
    width: 100px;
    border-radius: 5px;
}

.reset-button:hover{
    background-color: black;
    color: white;
}

.add-button{
    color: white;
    width: 100px;
    border-radius: 5px;
    background-color: #2596be;
    border: #12869B solid 1px;
}

.error-message{
  color: red;
}

.Existed-Message{
  color: red;
  text-align: end;
  padding: 5px;
}

.Success-Message{
  color: green;
  text-align: end;
  padding: 5px;
}


.modal-button1{
  width: 58px;
  border: 0px;
  border-radius: 6px;
}

.modal-button2{
  background-color: #2596be;
  color: white;
  border: 0px;
  width: 55px;
  border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
  
table {
    border: 1px solid #ddd;
}
  
th, td {
    padding: 12px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}

a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
  
a:hover {
    text-decoration: underline;
}
  